body {
    background: url('../images/background.jpg');
    background-size: cover;    
  }


.wrapper {
    width: 960px;
    margin: 0 auto 0 auto;
    padding: 0px 20px 10px 20px;
    background: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px
}

.header {
   font-family: 'Georgia', Times, 'Times New Roman', serif; 
   position: relative; 
   background-color: #ffffff;
   border-color: #cccccc;
   color: grey;      
   height: 85px;    
   text-align: center;
}

#name {
    font-size: 25px;
    position: absolute;
    color: white;
    background-color: #4aaaa5;
    width: 27%;
    height: 75%;
    line-height: 75%;
    margin-left: 96px;
    padding-bottom: 5px;
    bottom: 0px;
}

#name a {
    text-decoration: none;
    color: white; 
}

#home {
    font-size: 15px;
    color: grey;
    line-height: 145%;
    position: absolute;
    border-top: solid 2px lightgrey;
    padding-top: 12px;
    width: 90%;
    height: 77%;
    bottom: 10px;
}

#home img {
    text-align: center;
    width: 70%;
    height: auto;
    padding: 5px;
    margin-right: 2px;
}

#home_header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
    float: left;
    text-decoration: none;
}

#nav {
    color: rgb(150, 150, 150);
    text-align: center;  
    float: right;
    margin-top: 35px;
    margin-right: 90px;
 }

 #nav ul {
     
     font-size: 16px;
     list-style: none;
     
 }

 #nav li {
     float: left;
     margin-right: 7px;
 }

 #nav li a {
    text-decoration: none;
    color: rgb(150, 150, 150);
 }

 .content {
     max-width: 960px;
     margin: auto;
     background-color: #EEEEEE;
     border-top: 2px solid #dddddd;
 }

#home_section {
    background-color: white;
    position: relative;
    width: 495px;
    padding: 12px 20px 20px 20px;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 450px;
    border-bottom: solid .5px lightgrey;
}

#about_section {
    background-color: white;
    position: relative;
    width: 495px;
    padding: 12px 20px 20px 20px;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 350px;
    border-bottom: solid .5px lightgrey;
}

#port_section {
    background-color: white;
    position: relative;
    width: 495px;
    padding: 12px 20px 20px 20px;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 700px;
    border-bottom: solid .5px lightgrey;
}

#contact_section {
    background-color: white;
    position: relative;
    width: 495px;
    padding: 12px 20px 20px 20px;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 450px;
    border-bottom: solid .5px lightgrey;
}

#contact_header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-size: 18px;
    font-weight: bold;
    float: left;   
}


#article {   
    color: grey;
    position: absolute;
    border-top: solid 2px lightgrey;
    padding-top: 12px;
    width: 90%;
    height: 77%;
    bottom: 10px;  
}

input{
    color: lightgrey;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 0px; 
}

textarea {
    border-color: lightgrey;
    width: 100%;
    height: 50%;
    margin-bottom: 5px;
}

#about {
    font-size: 15px;
    color: grey;    
    line-height: 145%;
    position: absolute;
    border-top: solid 2px lightgrey;
    padding-top: 12px;
    width: 90%;
    height: 77%;
    bottom: 10px;  
}

#about img {
    width: 30%;
    height: auto;
    padding: 5px;
    margin-right: 2px;
}

#portfolio {
    font-size: 15px;
    color: grey;    
    line-height: 145%;
    position: absolute;
    border-top: solid 2px lightgrey;
    padding-top: 12px;
    width: 90%;
    height: 86%;
    bottom: 10px; 
}

button {
    font-size: 16px;
    background-color: #4aaaa5;
    color: white;
    border: none;
    width: 100px;
    height: 30px; 
}

#head {
    width: 90%;
    color: black;
    margin: auto;
    background-color: #ebebeb;
    height: 30%;
    line-height: 120%;
    margin-top: 25px;
    margin-bottom: 10px; 
}

#content {
    float: left;
    width: 100%;
    color: black;
    margin: auto;
    background-color: #ebebeb;
    height: 30%;
}

#content input {
    box-sizing: border-box;
}

#aside {    
    background-color: white;
    position: relative;
    width: 17%;
    padding: 20px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: center;
    height: 100px;
}

#aside a {
    color: black;
    text-decoration: none;
}

#connect {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    border-bottom: solid .5px lightgrey;
    padding-bottom: 10px;
}

#icon {
    float: left;
    margin-top: 9px;
    margin-left: 7px;
}


#stack {
    
    float: left;
    margin-top: 5px;
    margin-left: 7px;
}

.row {
    display: flex;
}

.col {
    float: left;
    width: 50%;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 230px;
    height: 190px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 230px;
    height: 190px;

}

.desc {
    font-family: 'Georgia', Times, 'Times New Roman', serif; 
    z-index: 1;
    color: white;
    position: relative;
    padding: 15px;
    text-align: center;
    bottom: 60px;
    background-color: #4aaaa5;
    font-size: 20px;
     
}

.footer {
    background-color: #666666;
    font-size: 12px;
    color: lightgrey;      
    margin: auto ;
    max-width: 960px;
    height: 8em;
    line-height: 8em;    
    border-top: 7px solid #4aaaa5;
    text-align: center;
    margin-bottom: 10px;
 }